<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<p>   <%= title %></p>
<p> <%= taco.categoryName %></p>
<ul>
    <% taco.categories.forEach(function(item){ %>
    <li> <%= item.categoryName %></li>

    <% }); %>
</ul>

<div id="searchbar">
    <form method="post" action="/results">
        Search For a movie:<br>
        <input type="text" name="firstname" value="Movie">
        <input type="submit" value="Submit">
        <br>
        <br>
    </form>
</div>

<p><%= title %></p>
<div>

    <% for(var i = 0; i < imdb.length;i++) { %>
    <p>
    <form method="post" action="/details">
        <input type="image" name="thisname" src="<%= "https://image.tmdb.org/t/p/w342/" + imdb[i].poster_path %>">
        <input type="hidden" name="moviename" value="<%= imdb[0].movietitle %>">
    </form>
    </p>
    <% } %>

</div>

<footer>
    <% include templates/footer.ejs %>
</footer>
</body>
</html>
