<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<p>   <%= title %></p>
<p> <%= taco.categoryName %></p>
<ul>
    <% taco.categories.forEach(function(item){ %>
    <li> <%= item.categoryName %></li>

    <% }); %>
</ul>

<div id = "searchbar">
        <form method="post" action="/results">
            <input type="text" name="firstname" placeholder="Enter keyword...">
            <select name="searchtype">
                <option value="Search Movies">Search Movies</option>
                <option value="Search Actors">Search Actors</option>
                <option value="Search Directors">Search Directors</option>
                <option value="Search Genres">Search Genres</option>
            </select>
            <input type="submit" value="Search">
            <br>
            <br>
        </form></div>



<p><%= title %></p>
<ul>
    <% for(var i=0; i<imdb.length;i++) { %>
    <form method="post" action="/details">
    <input type="submit" name="thisname" value="<%= imdb[i].movietitle %>">
    </form>
    <% }%>
</ul>

<footer>
    <% include templates/footer.ejs %>
</footer>
</body>
</html>
