///Code specific webpage that route,
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<p>   <%= title %></p>
<p> <%= taco.categoryName %></p>
<ul>
    <% taco.categories.forEach(function(item){ %>
    <li> <%= item.categoryName %></li>

    <% }); %>
</ul>
<p><%= title %></p>
<h1>
    <% imdb.pages.forEach(function(item){ %>
    <% item.results.forEach(function(items){ %>

    <img src=<%= items.image %> width="360" height="640"href=<%=items.title%>/>
    <% }); %>
    <% }); %>
</h1>

<footer>
    <% include templates/footer.ejs %>
</footer>
</body>
</html>
