///Code specific webpage that route,
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<p>   <%= title %></p>
<p> <%= taco.categoryName %></p>
<ul>
    <% taco.categories.forEach(function(item){ %>
    <li> <%= item.categoryName %></li>

    <% }); %>
</ul>
<p><%= title %></p>
<ul>
    <% for(var i=0; i<imdb.length;i++) { %>
    <li> <%= imdb[i].movietitle %></li>
    <% }%>
</ul>

<footer>
    <% include templates/footer.ejs %>
</footer>
</body>
</html>
